<div class="jumbotron">
	<h1 class="text-center">
		Welcome to Contatooh
	</h1>
</div>
<p ng-show="message.text">{{message.text}}</p>
<a ng-href="#/contato" class="btn btn-primary">
	New Contact
</a>
<input ng-model="filter" type="search" placeholder="Part of name">
<p ng-show="contacts.length">Registered contacts: {{contacts.length}}</p>
<p class="text-info" ng-hide="contacts.length">There aren't any contacts registered</p>
<div class="table-responsive">
	<table class="table table-hover">
		<tr>
			<th>Name</th>
			<th>Email</th>
			<th class="text-center">Action</th>
		</tr>
		<tr ng-repeat="contact in contacts | filter: filter">
			<td>
				<a ng-href="#/contato/{{contact._id}}">{{ contact.name }}</a>
			</td>
			<td>{{ contact.email }}</td>
			<td class="text-center">
				<button class="btn btn-warning" ng-click="remove(contact)">
					Remove
				</buttom>
			</td>
		</tr>
	</table>
</div>