<!DOCTYPE html>
<html>
<head>
	<title>Oppps page not found!</title>
	<meta name="viewport" content="width=device-width">
	<meta charset="UTF-8">
	<!-- build:css css/404.min.css -->
	<link rel="stylesheet" href="vendor/bootstrap/dist/css/bootstrap.css">
	<link rel="stylesheet" href="vendor/bootstrap/dist/css/bootstrap-theme.css">
	<!-- endbuild -->
</head>
<body>
	<div class="container">
		<div class="jumbotron text-center">
			<h1>This page hasn't been found</h1>	
		</div>
		<h2 class="text-center">
			<a href="/"> Back to main page </a>
		</h2>			
	</div>
</body>
</html>